/* .register-img { 
    background: url(https://picsum.photos/800/500) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } */

  .col-a{
      padding: 0;
  }